* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #ffffff;

}

/* Profile */
.section {
    background-color: var(--extra-light);
}

.section__container {
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.section__container2 {
    min-height: 60vh;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.title {
    font-size: 36px;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 1rem;
    
}

.header-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.description {
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-size: 20px;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 50px;
}


/* Navigation Bar */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar a {
    float: inline-end;
    display: block;
    color: #1a1a1a;
    text-align: center;
    padding: 14px 11px;
    text-decoration: none;
    font-size: 17px;


}

.navbar a:hover {
    color: rgb(0, 0, 0);
    opacity: 0.5;
}

/* Miscellaneous */
.right-float {

    float: right;

}

.spotify {

    border-radius: 12px;
    margin: auto;
    width: 100%;
    height: 352px;
    border: none;

}
.blog {

    padding: 20px;
    border-style: none;
    margin-bottom: 5px;

}